@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: Eskell-Display;
    src: url("fonts/Eksell_Display_Large.otf") format("opentype");
  }

  @font-face {
    font-family: GT-America-Trial;
    src: url("fonts/GT America Regular.otf") format("opentype");
  }

  @font-face {
    font-family: mangal;
    src: url("fonts/MANGAL.ttf") format("ttf");
  }

