@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Eskell-Display;
    src: url("fonts/Eksell_Display_Large.otf") format("opentype");
  }

  @font-face {
    font-family: GT-America-Trial;
    src: url("fonts/GT America Regular.otf") format("opentype");
  }